<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987292284709-j8hgfmh9voj3f33cqpkp2lfje39dt548.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987292284709-j8hgfmh9voj3f33cqpkp2lfje39dt548</string>
	<key>API_KEY</key>
	<string>AIzaSyBVYUG2TqEeTxVy49are8kgsSISLkkwDk8</string>
	<key>GCM_SENDER_ID</key>
	<string>987292284709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.pixeliar.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-7abf0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-7abf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987292284709:ios:b76257ff8d212dd9f7cccc</string>
</dict>
</plist>